@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@plugin "daisyui" {
  themes: light --default;
}


* {
  font-family: "Roboto", sans-serif;
}

li a {
  border-radius: 10px;
  margin-left: 10px;
}

header li .active {
  background-color: white;
  color: blue
}

html {
  overflow-y: scroll;
}

@keyframes appear {
  from {
    height: 0%;
  }

  to {
    height: 100%;
  }
}

.line {
  animation: appear linear;
  animation-timeline: view();
  animation-range: entry 30% cover 90%;
}